*{  
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahona, Geneva, Verdana, sans-serif;   

}

 
body {
 background: #f0f0f0;
padding: 20px;
}

.container {
   max-width: 800px;
   margin: auto;
   background: #fff;
   border-radius: 12px;
   box-shadow: 0 5px 15px rgba(0,0,0,0.1);
   padding: 30px;


}
.perfil img { 
   width: 120px;
   height: 120px;
   object-fit: cover;
   border-radius: 50%;
   border: 3px solid #6c63ff;

}
.info-basica h1 {
   font-size: 28px;
   color: #333
}
.info-basica p {
   font-size: 16px;
   color: #666
}
.sessao h2 {
   font-size: 22px
   color: #6c63ff;
   border-left: 5px solid #6363ff;
   padding-left: 10px;
   margin-bottom: 10px;
}
.sessao ul {
   list-style:
}
